$color_gray: #848484;
$color_main: #000;
$color_gray_light: #ddd;

$color_purple: #6383c2;
$color_tomato: #f18987;
$color_green: #84b4af;
$color_green_light: #37b105;

$color_blue: #617ba0;
$color_yellow: #ffab40;

$color_dark: rgb(81, 85, 97);
