@import "assets/styles/var";

input.form-control {
    margin-bottom: 0 !important;
}

.mb-3 {
    margin-bottom: 15px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-3 {
    margin-left: 10px;
}

.btn-danger {
    background-color: orangered;

    &:hover, &:active, &:focus {
        background-color: red;
    }
}

.hidden {
    display: none;
}

img {
    display: block;
    max-width: 100%;
}

textarea {
    resize: none;
    display: block;
}

.textarea-theme {
    padding: 10px;
    border: 1px solid $color_gray_light;
}

// toast

#toast-container {
    right: inherit !important;
    top: inherit !important;
    left: 4%;
    bottom: 9%;
}
