.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    i {
        margin-right: 5px;
    }
}

.post-comments-button, .post-likes-button {
    cursor: pointer;
}
