@import '../../../assets/styles/var';

.post-comment {
    border-top: 1px solid $color_gray_light;

    &__list {
        padding: 20px;
        padding-bottom: 0;
    }

    &__item {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $color_gray_light;

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__create {
        padding: 20px;
    }
}

.comment-like {
    cursor: pointer;
}
