.post-create {
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #ddd; }
  .post-create__wrap {
    position: relative;
    padding: 20px; }
    .post-create__wrap:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      height: 35px;
      width: 15px;
      background: #fff; }
  .post-create:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    transform: rotate(45deg);
    background: #fff; }
  .post-create__image {
    margin-bottom: 15px; }
  .post-create__input {
    margin-bottom: 15px; }
  .post-create textarea {
    height: 100px; }
  .post-create__actions {
    display: flex;
    justify-content: flex-end; }
  .post-create__action {
    margin-left: 15px; }
  .post-create__icon {
    position: absolute;
    left: -75px;
    top: -4px; }

.post-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6383c2;
  color: #fff;
  font-size: 22px; }
  .post-icon_tomato {
    background-color: #f18987; }
  .post-icon_green {
    background-color: #84b4af; }
  .post-icon_remove {
    background-color: #ff2222; }

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; }
  .post-info i {
    margin-right: 5px; }

.post-comments-button, .post-likes-button {
  cursor: pointer; }

.profile__top {
  position: relative;
  height: 300px; }
.profile__bottom {
  padding-bottom: 100px; }
.profile__background {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-position: 50% 80%;
  background-size: cover; }
.profile__container {
  position: absolute;
  left: 0;
  right: 0; }
.profile__info {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #7b7b7b;
  background: rgba(0, 0, 0, 0.5); }
.profile__avatar {
  position: absolute;
  transform: translateY(50%);
  left: 0;
  right: 0; }
  .profile__avatar-image {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #ddd;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 3px solid white;
    overflow: hidden;
    cursor: pointer; }
    .profile__avatar-image:hover .profile__avatar-form {
      opacity: 1; }
  .profile__avatar-form {
    opacity: 0;
    transition: all .3s; }
  .profile__avatar-form.active {
    opacity: 1; }
.profile__name {
  padding-left: 260px;
  padding-top: 20px;
  font-size: 32px;
  font-weight: 500;
  min-height: 68px; }
.profile__actions {
  padding-top: 30px; }
.profile__wall {
  position: relative;
  padding-left: 170px;
  padding-top: 50px; }
  .profile__wall-left {
    max-width: 450px; }
  .profile__wall-bar {
    position: absolute;
    left: 120px;
    top: 50px;
    bottom: 0;
    display: block;
    width: 4px;
    background-color: #bfbfbf; }
    .profile__wall-bar:before, .profile__wall-bar:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      transform: translateX(-45%);
      top: 0;
      background: #bfbfbf; }
    .profile__wall-bar:after {
      bottom: 0;
      top: auto; }
.profile__follow {
  display: flex;
  justify-content: center;
  width: 245px; }

.profile-info {
  display: flex;
  align-items: center;
  padding-left: 320px;
  height: 80px;
  color: #fff; }
  .profile-info__list {
    width: 100%;
    display: flex;
    padding-bottom: 2px; }
  .profile-info__item {
    width: 25%; }
  .profile-info__value {
    font-weight: 500;
    font-size: 24px; }

.profile-post {
  position: relative;
  border: 1px solid #ddd; }
  .profile-post:hover .profile-post__remove {
    opacity: 1; }
  .profile-post:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    transform: rotate(45deg);
    background: #fff; }
  .profile-post__icon {
    position: absolute;
    left: -75px;
    top: -4px; }
  .profile-post__remove {
    opacity: 0;
    transition: all .3s;
    position: absolute;
    right: -75px;
    bottom: 0;
    top: -4px;
    padding-left: 25px; }
    .profile-post__remove .post-icon {
      cursor: pointer; }
  .profile-post__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #848484;
    border-bottom: 1px solid #ddd; }
    .profile-post__head:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      height: 35px;
      width: 15px;
      background: #fff; }
    .profile-post__head-right {
      font-size: 14px; }
  .profile-post__info {
    border-top: 1px solid #ddd; }
  .profile-post__name {
    font-size: 18px;
    font-weight: 500;
    color: #000; }
  .profile-post__image {
    position: relative; }
    .profile-post__image .post-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(180deg, transparent, black);
      padding: 30px 20px 15px;
      color: #fff; }
  .profile-post__content {
    padding: 20px;
    color: #848484;
    font-size: 14px; }

.avatar-form {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  cursor: pointer; }
  .avatar-form__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px;
    display: none; }
  .avatar-form__preview {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center; }
    .avatar-form__preview:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5); }
  .avatar-form__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
  .avatar-form__apply {
    margin-bottom: 15px; }
  .avatar-form label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
  .avatar-form input {
    display: none; }

.profile__avatar-form.active .avatar-form label {
  display: none; }
.profile__avatar-form.active .avatar-form__content {
  display: flex; }

.post-comment {
  border-top: 1px solid #ddd; }
  .post-comment__list {
    padding: 20px;
    padding-bottom: 0; }
  .post-comment__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd; }
    .post-comment__item:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0; }
  .post-comment__create {
    padding: 20px; }

.comment-like {
  cursor: pointer; }

.comment-create__input {
  margin-bottom: 15px; }
.comment-create textarea {
  height: 70px; }

.comment {
  display: flex; }
  .comment__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 15px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center; }
  .comment__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px; }
  .comment__content {
    flex: 1 1 auto; }
  .comment__date {
    color: #848484;
    font-size: 14px; }
  .comment__body {
    display: flex;
    align-items: flex-end; }
  .comment__text {
    flex: 1 1 auto; }
  .comment__likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    flex-shrink: 0; }

.me__block {
  display: flex; }
.me__info {
  padding-left: 20px; }
.me__avatar {
  margin-bottom: 15px; }
  .me__avatar img {
    max-width: 300px; }
.me__avatar-edit {
  padding-top: 15px; }

.avatar-loader {
  width: 100%;
  display: flex; }
  .avatar-loader__left {
    flex: 1;
    margin-right: 15px; }

.form-control {
  height: auto; }

.profile-wall__item {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
